---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          Expand Your Reach, Streamline Your Business
        </h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300">
          Join AutoClub and connect with a growing community of vehicle owners.
          Simplify booking, manage payments, and increase your workshop's
          visibility—all in one platform.
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <!-- TODO: add action to button -->
            <span class="relative text-base font-semibold text-white"
              >Partner with us today!</span
            >
          </a>
        </div>
        <div
          class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
        >
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Effortless Management
            </h6>
            <p class="mt-2 text-gray-500">
              Less admin, more time for what matters.
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Grow Your Business
            </h6>
            <p class="mt-2 text-gray-500">
              Expand your reach, boost your revenue
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Access Customer Info
            </h6>
            <p class="mt-2 text-gray-500">Instant insights, smoother service</p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
