---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40"
  >
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400">
    </div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300">
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1 class="text-gray-900 font-bold text-5xl md:text-6xl xl:text-7xl">
          Simplifying Car Maintenance, Coming Soon!
        </h1>
        <h2
          class="mt-8 text-gray-700 font-medium text-3xl md:text-4xl xl:text-5xl"
        >
          Tired of the hassle of finding trustworthy car workshops?
        </h2>
        <p class="mt-8 text-gray-700">
          With AutoClub, you’ll soon be able to browse and compare services from
          top-rated workshops, receive transparent quotations, and never worry
          about overpaying for vehicle maintenance again. Whether you need a
          routine service or a complex repair, AutoClub is here to simplify the
          process.
        </p>
        <div
          class="hidden py-8 mt-16 border-y border-gray-100 sm:flex justify-between gap-4"
        >
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700">
              Hassle-Free Car Maintenance
            </h6>
            <p class="mt-2 text-gray-500">
              Find trustworthy workshops and get instant quotes with transparent
              pricing
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700">
              Easy Booking & Payments
            </h6>
            <p class="mt-2 text-gray-500">
              Book appointments and pay directly through the app, saving you
              time and avoiding hidden fees
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700">Stay Informed</h6>
            <p class="mt-2 text-gray-500">
              Receive real-time updates and reminders for your car services
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
