---
import Container from "./Container.astro";
---

<div id="solution">
  <Container>
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-col md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
    >
      <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
        Getting started with AutoClub
      </h2>
      <!-- Timeline -->
      <div>
        <!-- Heading -->
        <div class="ps-2 my-2 first:mt-0">
          <h3
            class="text-xs font-medium uppercase text-gray-700 dark:text-gray-300"
          >
            Step 1
          </h3>
        </div>
        <!-- End Heading -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-700 dark:after:bg-gray-300"
          >
            <div class="relative z-10 size-7 flex justify-center items-center">
              <div class="size-2 rounded-full bg-gray-700 dark:bg-gray-300">
              </div>
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3
              class="flex gap-x-1.5 font-semibold text-gray-900 dark:text-white"
            >
              Sign Up
            </h3>
            <p class="mt-1 text-sm text-gray-700 dark:text-gray-300">
              Register your workshop in minutes
            </p>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->
        <!-- Heading -->
        <div class="ps-2 my-2 first:mt-0">
          <h3
            class="text-xs font-medium uppercase text-gray-700 dark:text-gray-300"
          >
            Step 2
          </h3>
        </div>
        <!-- End Heading -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-700 dark:after:bg-gray-300"
          >
            <div class="relative z-10 size-7 flex justify-center items-center">
              <div class="size-2 rounded-full bg-gray-700 dark:bg-gray-300">
              </div>
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3
              class="flex gap-x-1.5 font-semibold text-gray-900 dark:text-white"
            >
              Set Up Services
            </h3>
            <p class="mt-1 text-sm text-gray-700 dark:text-gray-300">
              Add the services you offer and set pricing
            </p>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->
        <!-- Heading -->
        <div class="ps-2 my-2 first:mt-0">
          <h3
            class="text-xs font-medium uppercase text-gray-700 dark:text-gray-300"
          >
            Step 3
          </h3>
        </div>
        <!-- End Heading -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-700 dark:after:bg-gray-300"
          >
            <div class="relative z-10 size-7 flex justify-center items-center">
              <div class="size-2 rounded-full bg-gray-700 dark:bg-gray-300">
              </div>
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3
              class="flex gap-x-1.5 font-semibold text-gray-900 dark:text-white"
            >
              Start Receiving Bookings
            </h3>
            <p class="mt-1 text-sm text-gray-700 dark:text-gray-300">
              Manage customer appointments and payments directly through the app
            </p>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->
      </div>
      <!-- End Timeline -->
    </div>
  </Container>
</div>
